[run]
source = modules
data_file = .pytest_cache/.coverage
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */archive/*
    */build/*
    */dist/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
